name: pgpad

services:
  pgpad-build:
    build:
      context: .
      target: artifacts
    image: pgpad-artifacts:local
    profiles: ['build']
    command: sleep infinity
    # No ports; start this service to enable docker cp from the container

  pgpad:
    build:
      context: .
      target: runtime
    profiles: ['run-linux']
    environment:
      - DISPLAY
      - WAYLAND_DISPLAY
      - XDG_RUNTIME_DIR
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ${HOME}/.local/share/pgpad:/home/pgpad/.local/share/pgpad
      - ./certs:/opt/pgpad/certs
    # runtime needs to access DB hosts on your network
    network_mode: bridge

  ci:
    build:
      context: .
      dockerfile: Dockerfile.ci
    profiles: ['ci']
    shm_size: '2gb'
    environment:
      - PGPAD_APP_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef

volumes:
  pgpad_data:
    external: false
